body, html {
  height: 100%;
  margin: 0;
}

// mixin to apply circle img format to any images on page
  @mixin circle {
    border-radius: 50%;
    max-width: 60%;
    margin: 5% auto auto auto;
    max-height: 50%;
  }

  .main {
    margin: auto;
    width: 50%;
  }

  .img-text {
      font-size: 2rem;
      font-weight: 700;
      color: $text;
      text-transform: uppercase;
  }

// include uses mixin
  .travel-img-left, .travel-img-right {
    @include circle;
  }

// linear makes transition smooth
// delay makes animation start 1s after page load
.slide-left {
  animation-duration: 2s;
  animation-name: slidein-left;
  animation-delay: 1s;
  animation-timing-function: linear;
}


// inspired by - https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Animations/Using_CSS_animations
// slides image from the right to left, scale grows the image then shrinks to normal size
@keyframes slidein-left {
  0% {
    margin-left: 100%;
    transform: scale(8);
  }
  50% {
    margin-left: 50%;
    transform: scale(4);
  }
  100% {
    margin-left: 0%;
  }
}

// Adding additional images with similar animation to have them come from both directions
//.slide-right {
  //animation-duration: 5s;
  //animation-name: slidein-right;
  //animation-timing-function: ease-in-out;
//}

//@keyframes slidein-right {
  //from {
    //margin-right: 100%;
    //width: 300%;
  //}

  //to {
    //margin-right: 50%;
    //width: 100%;
  //}
//}
