body, html {
  height: 100%;
  margin: 0; }

.travel-img {
  border-radius: 50%;
  max-width: 50%;
  margin: 5% auto auto auto;
  display: block;
  cursor: pointer;
  max-height: 50%;
  position: absolute; }

.back-flip {
  border-radius: 50%;
  max-width: 50%;
  margin: 5% auto auto auto;
  display: block;
  cursor: pointer;
  max-height: 50%;
  position: absolute;
  display: none;
  -webkit-transform-style: preserve-3d;
  -webkit-backface-visibility: hidden; }

.flip-img:hover {
  display: block;
  animation-name: flip-img;
  animation-duration: 750ms;
  animation-timing-function: linear;
  animation-iteration-count: 2;
  animation-direction: normal;
  animation-delay: 20s; }

@keyframes flip-img {
  0% {
    -webkit-transform: rotateY(0deg); }
  24% {
    background-position-y: 0px; }
  25% {
    background-position-y: 204px; }
  50% {
    -webkit-transform: rotateY(180deg); }
  75% {
    background-position-y: 204px; }
  76% {
    background-position-y: 0px; }
  100% {
    -webkit-transform: rotateY(360deg); } }
